<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>鉴定结果</title>
    <!--
        作者：fqj
        时间：2018-05-12
        描述：css重置，目的是改变浏览器默认样式，注意要写在test下
    -->
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <div class ="result">
        <img src="$!{image.path}">
        <h2>鉴定用户：$!{user.name}</h2>
        <h2>图片名称：$!{image.name}</h2>
        <h2>鉴定结果：$!{msg}</h2>
    </div>
</body>

</html>

